
*.exp
*.json
*.lib
*.log
*.ini
*.exp
*.lib
*.response
*.res
*.obj
*.dll
*.pdb
*.lc
*.dat
*.state
*.pch
*.xml
.vs/Nproject1_GH/v17/.suo
*.cs
*.rst
Plugins/Developer/RiderLink/Resources/checksum
*.old
*.png
*.runtime-xml
*.dmp
*.png
*.db
